@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Arreglos florales";
}
<h1>@ViewData["Title"]</h1>


<section class="container blogs">
    <div class="container-blogs">
        <div class="card-blog">
            <div class="container-img">
                <img src="~/img/ramo1.jpg" alt="Imagen Blog 1" />
            </div>
            <div class="content-blog">
                <h3>14 de febrero</h3>
                <p>
                    En esta fecha el surtido de flores consiste en iris y violetas como flores de temporada y a precio diferente las flores ajenas a la temporada
                </p>
            </div>
        </div>

        <div class="card-blog">
            <div class="container-img">
                <img src="~/img/ramo2.jpg" alt="Imagen Blog 2" />
            </div>
            <div class="content-blog">
                <h3>Dia de las madres</h3>
                <p>
                    La epoca incluye flores como gardenias, begonias, dipladenias de temporada y a diferente precio flores fuera de temporada
                </p>
            </div>
        </div>

        <div class="card-blog">
            <div class="container-img">
                <img src="~/img/girasol mexicano.jpg" alt="Imagen Blog3" />
            </div>
            <div class="content-blog">
                <h3>Dia de las flores amarillas</h3>
                <p>
                    Esta temporada surte flores amarillas, que incluyen lirio, narcisos, girasoles, gerberas, rosas, entre otras. Teniendo estas el precio preferencial.
                </p>
            </div>
        </div>



        
</section>