@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<br />
<div class="ofertas">
    <h1 >Ofertas</h1>
    <p><b>Primera compra</b></p>
	<p>Descuento del 10% en cualquier arreglo floral.</p>
 	<p> <b>Promoción por temporada</b></p>
    <p>Descuento del 15% en arreglos florales para el Día de la Madre o un arreglo adicional gratuito para pedidos realizados en San Valentín.</p>
</div>
<br />
<div class="descuentos">
    <h1>Descuentos Especiales</h1>
    <p><b>Pedidos grandes</b></p>
    <p>Descuento del 10% en pedidos superiores a $4000.</p>
    <p> <b>Clientes leales</b></p>
     <p>Acumula puntos por cada compra y canjealos por descuentos en futuras compras.</p>
</div>
<br />
<div class="especiales">
    <h1 >Flores Especiales</h1>
    <p>Descubre nuestra exclusiva selección de flores especiales, cuidadosamente elegidas para brindarte una experiencia floral única. </p>
	<p>Orquídeas</p>
	<p>Lirios Stargazer</p>
	<p>Proteas</p>    
    <p>Amapolas</p>
    <p>Calas</p>
    <p>Anthuriums</p>
</div>