@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- Opciones -->
<section class="container blogs">
    <div class="container-blogs">
        <div class="card-blog">
            <div class="container-img">
                <img src="~/img/im1.jpeg" alt="Imagen Blog 1" />
            </div>
            <div class="content-blog">
                <h3>Entrega a domicilio</h3>
                <span>(Personalizado)</span>
                <p>
                    Nuestra opción de entrega a domicilio te brinda la comodidad de enviar flores directamente a la puerta del destinatario.
                    Nos encargaremos de que las flores sean entregadas en el lugar y momento exactos que nos indiques.
                </p>
            </div>
        </div>

        <div class="card-blog">
            <div class="container-img">
                <img src="~/img/im4.jpeg" alt="Imagen Blog 2" />
            </div>
            <div class="content-blog">
                <h3>Entrega en persona</h3>
                <span>(Personalizado)</span>
                <p>
                    Nuestra opción de entrega en persona te brinda la oportunidad de entregar personalmente las flores a tus seres queridos. Sabemos que hay
                    momentos en los que deseas expresar tus sentimientos de manera directa y especial.
                </p>
            </div>
        </div>

        <div class="card-blog">
            <div class="container-img">
                <img src="~/img/im8.jpg" alt="Imagen Blog3" />
            </div>
            <div class="content-blog">
                <h3>Entrega en eventos especiales</h3>
                <span>(Personalizado)</span>
                <p>
                    En fechas y eventos importantes, como el Día de San Valentín, el Día de la Madre o el Día de la Mujer, nos enorgullece ofrecerte nuestra
                    opción de entrega en ocasiones especiales.
                </p>
            </div>
        </div>

        <div class="card-blog">
            <div class="container-img">
                <img src="~/img/im12.jpg" alt="Imagen Blog4" />
            </div>
            <div class="content-blog">
                <h3>Entrega programada</h3>
                <span>(Personalizado)</span>
                <p>
                    Queremos ayudarte a planificar y celebrar ocasiones especiales de manera perfecta y de sorpresa. Nuestra opción de entrega programada te permite establecer una
                    fecha y hora específicas para la entrega de tus flores.
                </p>
            </div>
        </div>

        <div class="card-blog">
            <div class="container-img">
                <img src="~/img/im3.jpg" alt="Imagen Blog5" />
            </div>
            <div class="content-blog">
                <h3>Recogida en tienda</h3>
                <span>(Personalizado)</span>
                <p>
                    Puedes acudir a nuestra tienda en un horario conveniente para recoger el hermoso arreglo floral y entregarlo tú mismo. Queremos que tengas una experiencia
                    personal y cercana al entregar tus flores, para que puedas transmitir tus sentimientos de manera directa.
                </p>
            </div>
        </div>

        <div class="card-blog">
            <div class="container-img">
                <img src="~/img/im10.jpg" alt="Imagen Blog6" />
            </div>
            <div class="content-blog">
                <h3>Entrega exprés o urgente</h3>
                <span>(Personalizado)</span>
                <p>
                    Nos comprometemos a organizar y entregar las flores en el menor tiempo posible, para que puedas transmitir tus sentimientos en el momento oportuno.
                    Con nuestra entrega exprés,te garantizamos una respuesta rápida y eficiente.
                </p>
            </div>
        </div>
    </div>
</section>