@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


    <section id="flowers-section">
        <h2>Flores de Temporada</h2>

        <h3>Primavera</h3>
        <br />
    <br />

    <ul id="spring-flowers" class="list-inline">
            <li class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/img/tulipanes.jpg" alt="Tulipanes" style="width: 100%">
                    </div>
                    <div class="flip-card-back">
                        Tulipanes
                    </div>
                </div>
            </li>
            <li class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/img/Amapolas.jpg" alt="Amapolas" style="width: 100%">
                    </div>
                    <div class="flip-card-back">
                        Amapolas
                    </div>
                </div>
            </li>
            <li class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/img/Clavelina.jpg" alt="Clavelina de río" style="width: 100%">
                    </div>
                    <div class="flip-card-back">
                        Clavelina de río
                    </div>
                </div>
            </li>
            <li class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/img/Margaritas.jpg" alt="Margaritas silvestres" style="width: 100%">
                    </div>
                    <div class="flip-card-back">
                        Margaritas silvestres
                    </div>
                </div>
            </li>
            <li class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/img/Rosas.jpg" alt="Rosas" style="width: 100%">
                    </div>
                    <div class="flip-card-back">
                        Rosas
                    </div>
                </div>
            </li>
            <li class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/img/Lirios.jpg" alt="Lirios" style="width: 100%">
                    </div>
                    <div class="flip-card-back">
                        Lirios
                    </div>
                </div>
            </li>
        </ul>

        <h3>Verano</h3>
    <br />
    <br />

    <ul id="summer-flowers" class="list-inline">
            <li class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/img/girasoles.jpg" alt="Girasoles" style="width: 100%">
                    </div>
                    <div class="flip-card-back">
                        Girasoles
                    </div>
                </div>
            </li>
            <li class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/img/cosmos.jpg" alt="Cosmos" style="width: 100%">
                    </div>
                    <div class="flip-card-back">
                        Cosmos
                    </div>
                </div>
            </li>
            <li class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/img/cempasuchil.jpeg" alt="Flor de Cempasúchil" style="width: 100%">
                    </div>
                    <div class="flip-card-back">
                        Flor de Cempasúchil
                    </div>
                </div>
            </li>
            <li class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/img/alcatraces.jpg" alt="Alcatraces" style="width: 100%">
                    </div>
                    <div class="flip-card-back">
                        Alcatraces
                    </div>
                </div>
            </li>
            <li class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/img/calas.jpg" alt="Calas" style="width: 100%">
                    </div>
                    <div class="flip-card-back">
                        Calas
                    </div>
                </div>
            </li>
        </ul>

        <h3>Otoño</h3>
    <br />
    <br />

    <ul id="autumn-flowers" class="list-inline">
            <li class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/img/dalias.jpg" alt="Dalias" style="width: 100%">
                    </div>
                    <div class="flip-card-back">
                        Dalias
                    </div>
                </div>
            </li>
            <li class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/img/calendulas.jpg" alt="Caléndulas" style="width: 100%">
                    </div>
                    <div class="flip-card-back">
                        Caléndulas
                    </div>
                </div>
            </li>
            <li class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/img/girasol mexicano.jpg" alt="Girasol mexicano" style="width: 100%">
                    </div>
                    <div class="flip-card-back">
                        Girasol mexicano
                    </div>
                </div>
            </li>
            <li class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/img/campanas.jpg" alt="Campanas de otoño" style="width: 100%">
                    </div>
                    <div class="flip-card-back">
                        Campanas de otoño
                    </div>
                </div>
            </li>
        </ul>

        <h3>Invierno</h3>
    <br />
    <br />

    <ul id="winter-flowers" class="list-inline">
            <li class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/img/noche buenas.jpg" alt="Nochebuenas" style="width: 100%">
                    </div>
                    <div class="flip-card-back">
                        Nochebuenas
                    </div>
                </div>
            </li>
            <li class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/img/crisantemos.jpg" alt="Crisantemos" style="width: 100%">
                    </div>
                    <div class="flip-card-back">
                        Crisantemos
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <section id="prices-section">
        <h2>Precios</h2>

        <ul id="prices-list">
            <li>Tulipanes - $14</li>
            <li>Amapolas - $12</li>
            <li>Clavelina de río - $10</li>
            <li>Margaritas silvestres - $8</li>
            <li>Rosas - $16</li>
            <li>Lirios - $15</li>
            <li>Girasoles - $16</li>
            <li>Cosmos - $13</li>
            <li>Flor de Cempasúchil - $11</li>
            <li>Alcatraces - $14</li>
            <li>Calas - $12</li>
            <li>Dalias - $20</li>
            <li>Caléndulas - $15</li>
            <li>Girasol mexicano - $13</li>
            <li>Campanas de otoño - $10</li>
            <li>Nochebuenas - $18</li>
            <li>Crisantemos - $16</li>
            <li>Poinsettias - $20</li>
        </ul>
    </section>
