@{
    ViewData["Title"] = "Home Page";
}


<!--Carrusel de imagenes-->
<div class="text-center">
    <h1 class="display-4">FLORETTI AMORE</h1>

    <div id="carouselVeterinariaControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/ramo1.jpg" class="d-block w-100" alt="Imagen 1">
            </div>
            <div class="carousel-item">
                <img src="~/img/ramo2.jpg" class="d-block w-100" alt="Imagen 2">
            </div>
            <div class="carousel-item">
                <img src="~/img/ramo3.jpg" class="d-block w-100" alt="Imagen 3">
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselVeterinariaControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselVeterinariaControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
    <br /><br />
    <h3>Misión</h3>
    <p>
        Proporcionar a nuestros clientes arreglos basados en sus necesidades, cuidando el medio ambiente con arreglos sustentables que brinden a los usuarios
        un servicio personalizado, asesoramiento experto y diseños florales creativos para todo tipo de ocasiones
    </p>
    <br />
    <h3>Visión</h3>
    <p>
        Ser la florería líder y referente de Progreso preferida por nuestros clientes, reconocida por la calidad del servicio, arreglos y experiencia en un lapso de 6 meses.
    </p>
</div>
